/* inline block elements have a bydefault space between them */
/* to remove space align elements in series */
*{
 box-sizing: border-box;
 margin: 0;
 width: 0;
}
.container{
 margin: 30px auto;
 width: 80vw;
 height: 80vh;
 background-color: aquamarine;
}
.container2{
 margin: 40px auto;
 width: 40vw;
 height: 40vh;
 background-color: rgb(33, 102, 206);
}

.container3{
 margin: 30px auto;
 padding: 10px;
 width: 20vw;
 height: 10vh;
 background-color: lightpink;
}
.box{
 width: 10%;
 height: 20%;
 border: 2px solid black;
 background-color:palevioletred;
 display: inline-block;
}
.boxes{
 width: 10%;
 height: 20%;
 border: 2px solid black;
 background-color:rgb(206, 216, 112);
 display: inline-block;
}
.boxe{
 border: 2px solid black;
 background-color:rgb(206, 216, 112);
 display: inline;
 font-size: 15px;
}
