/* 
relative
absolute --to move anywhere(parent must be relative)
fixed --fixed,dont move
sticky --move then where to stick
static -- by default

 */
*{
 box-sizing: border-box;
 margin: 0 auto;
 padding: 0;
}
.sky-blue{
 height: 500px;
 width: 60vw;
 margin: 5%;
 background-color: rgb(2, 255, 255);
 position: relative;
}
.blue{
 width: 16%;
 height: 14%;
 background-color: rgb(98, 0, 255);
 position: absolute;
 top: 100px;
 left: 50px;
 z-index: 1;
}
.pink{
 width: 12%;
 height: 14%;
 background-color: palevioletred;
 position: absolute;
 top: 100px;
 left: 50px;
 z-index: 2;
}